body {
    font-family: arial;
    background: #ecf0f1;
}

.blogs {
    display: flex;
    flex-direction: row;
}

.blog-1 {
    order: 2;
}

.blog-2 {
    order: 3;
}

.blog-3 {
    order: 1;
}

h1 {
    text-align: center;
    color: #333;
}

.blog {
    padding: 1em;
    background: #f5f5f5;
    margin: .8em;
    cursor: pointer;
    display: flex;
    border-radius: 5px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.user-info {
    margin-right: 1em;
    margin-top: 1em;
}

img {
    border-radius: 50%;
}

h3 {
    text-align: center;
}

@media (max-width: 1500px) {
    .blogs {
        flex-direction: column;
    }
    .blog-1 {
        order: 1;
    }
    .blog-2 {
        order: 3;
    }
    .blog-3 {
        order: 2;
    }
}